
body{
height: 100vh;
background-color: blueviolet;
text-align: center;
}
#count{
     color: #fff; 
    font-size: 18px;
}


form{
    text-align: center;
    padding: 50px;
    
}
#btn{
    display:block;
    margin: 10px auto;
    padding: 7px;
}

.box{
    background-color: #fff;
padding: 10px;
    width: 18%;
    margin-left:10px ;
}

.close{
    display: none;
}
.all-box{
display: flex;
 align-self: flex-start;
flex-wrap: wrap;
}